.ipynb_checkpoints/geophy-checkpoint.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
ML_FT_challange.py
ML_FT_challange_sabber.zip
Problem_Description.pdf
bokeh_interactive.ipynb
js_on_change.html
predicted_labels_1.csv
predicted_labels_2.csv
predicted_labels_3.csv
report.pdf
test.csv
train.csv
new_data/
weights
data
MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config/options
docs/source/config/shortcuts/*.csv
docs/source/interactive/magics-generated.txt
docs/source/config/shortcuts/*.csv
docs/gh-pages
jupyter_notebook/notebook/static/mathjax
jupyter_notebook/static/style/*.map
*.py[co]
__pycache__
*.egg-info
*~
*.bak
*.xlsx
*.xlsx#
*.geojson
.tox
.DS_Store
\#*#
.#*
.cache
.coverage
*.swp
*.csv

